In [265]:
!pip install pandas numpy category_encoders

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: category_encoders in /usr/local/lib/python3.12/dist-packages (2.8.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)

In [266]:
#from google.colab import drive
#drive.mount('/content/drive')

# Importando bibliotecas

In [267]:
import pandas as pd

In [268]:
df_cliente1 = pd.read_csv('https://raw.githubusercontent.com/gabrielranulfo/univel_aula03_kdd/refs/heads/master/data/clientes.csv')
df_cliente2 = pd.read_csv('https://raw.githubusercontent.com/gabrielranulfo/univel_aula03_kdd/refs/heads/master/data/clientes%202.csv')

# Análise Exploratória de Dados (AED)

In [269]:
df_cliente1

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,NaN,1000.0,E,Barra,I
6,8.888889e+10,Liza,F,04-27-80,S,2.0,4500.0,3000.0,F,Urca,A
7,7.777778e+10,Marisa,F,07-14-80,C,3.0,1000.0,500.0,A,Recreio,I
8,6.666667e+10,Carlos,M,11-06-63,V,7.0,4300.0,4000.0,F,Leblon,A
9,4.444444e+10,Paula,F,12-15-82,C,3.0,1400.0,1000.0,A,Centro,I
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
df_cliente2

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
0,3.521488e+10,Ana,F,03-12-90,S,2.0,3500.0,1500.0,P,Barra da Tijuca,A
1,8.754124e+10,Pedro,M,07-25-85,C,1.0,2800.0,1000.0,A,Copacabana,A
2,9.632587e+10,Maria,F,11-08-78,C,4.0,5000.0,3000.0,F,Ipanema,A
3,1.234568e+10,João,M,02-19-95,S,0.0,1800.0,800.0,P,Tijuca,I
4,4.567891e+10,Carla,F,05-30-82,V,3.0,4200.0,2500.0,P,Botafogo,A
...,...,...,...,...,...,...,...,...,...,...,...
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [271]:
df_cliente2.shape

(287, 11)

In [272]:
linhas, colunas = df_cliente2.shape

In [273]:
linhas

287

In [274]:
colunas

11

In [275]:
df_cliente2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CPF             286 non-null    float64
 1   nome            286 non-null    object
 2   S               286 non-null    object
 3   nascimento      286 non-null    object
 4   relacionamento  286 non-null    object
 5   depent          270 non-null    float64
 6   salario         286 non-null    float64
 7   gastos          280 non-null    float64
 8   residencia      286 non-null    object
 9   bairo           286 non-null    object
 10  resultado       286 non-null    object
dtypes: float64(4), object(7)
memory usage: 24.8+ KB

In [276]:
df_cliente1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         10 non-null     float64
 1   Nome        10 non-null     object
 2   Sexo        10 non-null     object
 3   Data_Nasc   10 non-null     object
 4   Est_Civil   10 non-null     object
 5   Num_Dep     10 non-null     float64
 6   Renda       8 non-null      float64
 7   Despesa     10 non-null     float64
 8   Tp_Res      10 non-null     object
 9   Bairro_Res  10 non-null     object
 10  Result      10 non-null     object
dtypes: float64(4), object(7)
memory usage: 1.1+ KB

In [277]:
df_cliente2.describe(include='all')

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
count,2.860000e+02,286,286,286,286,270.000000,286.000000,280.000000,286,286,286
unique,NaN,59,2,62,3,NaN,NaN,NaN,4,19,2
top,NaN,Gustavo,F,12-29-72,C,NaN,NaN,NaN,P,Leblon,A
freq,NaN,8,146,7,153,NaN,NaN,NaN,92,29,229
mean,4.222694e+10,NaN,NaN,NaN,NaN,2.537037,4052.797203,2329.464286,NaN,NaN,NaN
std,2.875060e+10,NaN,NaN,NaN,NaN,1.745019,1840.950138,1453.076602,NaN,NaN,NaN
min,1.001235e+10,NaN,NaN,NaN,NaN,0.000000,1500.000000,700.000000,NaN,NaN,NaN
25%,1.581429e+10,NaN,NaN,NaN,NaN,1.000000,2500.000000,1100.000000,NaN,NaN,NaN
50%,3.456789e+10,NaN,NaN,NaN,NaN,2.000000,3600.000000,1900.000000,NaN,NaN,NaN
75%,6.789012e+10,NaN,NaN,NaN,NaN,4.000000,5200.000000,3400.000000,NaN,NaN,NaN
max,9.901235e+10,NaN,NaN,NaN,NaN,6.000000,9000.000000,6000.000000,NaN,NaN,NaN

In [278]:
df_cliente2.describe()

                CPF      depent      salario       gastos
count  2.860000e+02  270.000000   286.000000   280.000000
mean   4.222694e+10    2.537037  4052.797203  2329.464286
std    2.875060e+10    1.745019  1840.950138  1453.076602
min    1.001235e+10    0.000000  1500.000000   700.000000
25%    1.581429e+10    1.000000  2500.000000  1100.000000
50%    3.456789e+10    2.000000  3600.000000  1900.000000
75%    6.789012e+10    4.000000  5200.000000  3400.000000
max    9.901235e+10    6.000000  9000.000000  6000.000000

In [279]:
df_cliente1.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [280]:
df_cliente2

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
0,3.521488e+10,Ana,F,03-12-90,S,2.0,3500.0,1500.0,P,Barra da Tijuca,A
1,8.754124e+10,Pedro,M,07-25-85,C,1.0,2800.0,1000.0,A,Copacabana,A
2,9.632587e+10,Maria,F,11-08-78,C,4.0,5000.0,3000.0,F,Ipanema,A
3,1.234568e+10,João,M,02-19-95,S,0.0,1800.0,800.0,P,Tijuca,I
4,4.567891e+10,Carla,F,05-30-82,V,3.0,4200.0,2500.0,P,Botafogo,A
...,...,...,...,...,...,...,...,...,...,...,...
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [281]:
df_cliente2.columns

Index(['CPF', 'nome', 'S', 'nascimento', 'relacionamento', 'depent', 'salario',
       'gastos', 'residencia', 'bairo', 'resultado'],
      dtype='object')

In [282]:
df_cliente2.isna().sum()

CPF                1
nome               1
S                  1
nascimento         1
relacionamento     1
depent            17
salario            1
gastos             7
residencia         1
bairo              1
resultado          1
dtype: int64

In [283]:
nome_colunas= {
    'CPF': 'Cpf',
    'nome': 'Nome',
    'S': 'Sexo',
    'nascimento': 'Data_Nasc',
    'relacionamento': 'Est_Civil',
    'depent': 'Num_Dep',
    'salario': 'Renda',
    'gastos' : 'Despesa',
    'residencia': 'Tp_Res',
    'bairo': 'Bairro_Res',
    'resultado': 'Result'
}

In [284]:
df_cliente2.rename(columns=nome_colunas, inplace=True)

In [285]:
df_corrigido = pd.concat([df_cliente1, df_cliente2])

In [286]:
df_corrigido.loc[[0]]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
0,3.521488e+10,Ana,F,03-12-90,S,2.0,3500.0,1500.0,P,Barra da Tijuca,A

In [287]:
df_corrigido

/usr/local/lib/python3.12/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
df_corrigido[df_corrigido['Renda'].isnull()]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,NaN,1000.0,E,Barra,I
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
df_corrigido.dropna(axis=0, how='all', inplace=True)
df_corrigido.dropna(axis=1, how='all', inplace=True)

In [290]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
281,1.867890e+10,Bruno,M,12-10-86,C,2.0,3200.0,1400.0,A,Vila Isabel,A
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A

In [291]:
df_corrigido.reset_index(drop=True, inplace=True)

In [292]:
df_corrigido[df_corrigido['Renda'].isnull()]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,NaN,1000.0,E,Barra,I

In [293]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
291,1.867890e+10,Bruno,M,12-10-86,C,2.0,3200.0,1400.0,A,Vila Isabel,A
292,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
293,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
294,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
295,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A

In [294]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         296 non-null    float64
 1   Nome        296 non-null    object
 2   Sexo        296 non-null    object
 3   Data_Nasc   296 non-null    object
 4   Est_Civil   296 non-null    object
 5   Num_Dep     280 non-null    float64
 6   Renda       294 non-null    float64
 7   Despesa     290 non-null    float64
 8   Tp_Res      296 non-null    object
 9   Bairro_Res  296 non-null    object
 10  Result      296 non-null    object
dtypes: float64(4), object(7)
memory usage: 25.6+ KB

In [295]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
291,1.867890e+10,Bruno,M,12-10-86,C,2.0,3200.0,1400.0,A,Vila Isabel,A
292,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
293,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
294,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
295,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A

In [296]:
#df_corrigido['Renda','Num_Dep','Despesa'] = df_corrigido['Renda','Num_Dep','Despesa'].fillna()
#df_corrigido['Renda'].mean()

In [297]:
df_corrigido['Renda'] = df_corrigido['Renda'].fillna(df_corrigido['Renda'].mean())

In [298]:
df_corrigido['Despesa'] = df_corrigido['Despesa'].fillna(df_corrigido['Despesa'].mean())

In [299]:
df_corrigido['Num_Dep'] = df_corrigido['Num_Dep'].fillna(0)

In [300]:
df_corrigido.loc[[0,5]]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,4021.428571,1000.0,X,Centro,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,4021.428571,1000.0,E,Barra,I

In [301]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         296 non-null    float64
 1   Nome        296 non-null    object
 2   Sexo        296 non-null    object
 3   Data_Nasc   296 non-null    object
 4   Est_Civil   296 non-null    object
 5   Num_Dep     296 non-null    float64
 6   Renda       296 non-null    float64
 7   Despesa     296 non-null    float64
 8   Tp_Res      296 non-null    object
 9   Bairro_Res  296 non-null    object
 10  Result      296 non-null    object
dtypes: float64(4), object(7)
memory usage: 25.6+ KB

In [302]:
variaveis_categoricas = ['Cpf','Nome','Sexo','Est_Civil','Tp_Res','Bairro_Res','Result']
variaveis_continuas = ['Renda','Despesa']
variaveis_discretas = ['Num_Dep']

df_corrigido[variaveis_categoricas] = df_corrigido[variaveis_categoricas].astype('category')
df_corrigido[variaveis_continuas] = df_corrigido[variaveis_continuas].astype('float64')
df_corrigido[variaveis_discretas] = df_corrigido[variaveis_discretas].astype('int64')
df_corrigido['Data_Nasc'] = pd.to_datetime(df_corrigido['Data_Nasc'], format='%m-%d-%y')

In [303]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         296 non-null    category
 1   Nome        296 non-null    category
 2   Sexo        296 non-null    category
 3   Data_Nasc   296 non-null    datetime64[ns]
 4   Est_Civil   296 non-null    category
 5   Num_Dep     296 non-null    int64
 6   Renda       296 non-null    float64
 7   Despesa     296 non-null    float64
 8   Tp_Res      296 non-null    category
 9   Bairro_Res  296 non-null    category
 10  Result      296 non-null    category
dtypes: category(7), datetime64[ns](1), float64(2), int64(1)
memory usage: 25.2 KB

In [304]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,1989-05-05,C,1,4021.428571,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,1985-07-10,S,5,3000.000000,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,1981-08-15,S,4,5000.000000,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,1975-09-10,C,3,1500.000000,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,2060-02-20,C,5,2500.000000,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
291,1.867890e+10,Bruno,M,1986-12-10,C,2,3200.000000,1400.0,A,Vila Isabel,A
292,1.878901e+10,Laura,F,1980-04-17,S,1,2000.000000,900.0,X,Grajaú,I
293,1.889012e+10,Gustavo,M,1990-08-21,C,3,4500.000000,2500.0,F,Andaraí,A
294,1.890123e+10,Fernanda,F,1975-06-03,V,4,5000.000000,3000.0,P,Centro,A
295,1.901235e+10,Thiago,M,1988-01-18,C,1,2800.000000,1200.0,A,Leblon,A

In [305]:
coluna_upper = ['Nome','Sexo','Est_Civil','Tp_Res','Bairro_Res','Result']

df_corrigido[coluna_upper] = df_corrigido[coluna_upper].apply(lambda x: x.str.upper())

In [306]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,JOSÉ,M,1989-05-05,C,1,4021.428571,1000.0,X,CENTRO,A
1,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.000000,2000.0,P,URCA,A
2,3.333333e+10,ANA,F,1981-08-15,S,4,5000.000000,3000.0,P,LEBLON,A
3,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.000000,1500.0,A,CENTRO,A
4,2.222222e+10,MARIO,M,2060-02-20,C,5,2500.000000,1500.0,P,LEBLON,A
...,...,...,...,...,...,...,...,...,...,...,...
291,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.000000,1400.0,A,VILA ISABEL,A
292,1.878901e+10,LAURA,F,1980-04-17,S,1,2000.000000,900.0,X,GRAJAÚ,I
293,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.000000,2500.0,F,ANDARAÍ,A
294,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.000000,3000.0,P,CENTRO,A
295,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.000000,1200.0,A,LEBLON,A

In [307]:
df_corrigido['Sexo'].value_counts()

Sexo
F    151
M    145
Name: count, dtype: int64

In [308]:
df_corrigido['Est_Civil'].value_counts()

Est_Civil
C    158
S     82
V     56
Name: count, dtype: int64

In [309]:
df_corrigido['Tp_Res'].value_counts()

Tp_Res
P    95
A    93
F    58
X    49
E     1
Name: count, dtype: int64

In [310]:
valores_validos = ['P','A','E','F','O']

df_corrigido = df_corrigido[df_corrigido['Tp_Res'].isin(valores_validos)]

In [311]:
df_corrigido['Tp_Res'].isin(valores_validos)

1      True
2      True
3      True
4      True
5      True
       ...
290    True
291    True
293    True
294    True
295    True
Name: Tp_Res, Length: 247, dtype: bool

In [312]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
1,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.000000,2000.0,P,URCA,A
2,3.333333e+10,ANA,F,1981-08-15,S,4,5000.000000,3000.0,P,LEBLON,A
3,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.000000,1500.0,A,CENTRO,A
4,2.222222e+10,MARIO,M,2060-02-20,C,5,2500.000000,1500.0,P,LEBLON,A
5,0.000000e+00,MANOEL,M,2054-10-13,S,1,4021.428571,1000.0,E,BARRA,I
...,...,...,...,...,...,...,...,...,...,...,...
290,1.856789e+10,LARA,F,1973-09-05,V,5,7500.000000,5200.0,P,MARACANÃ,A
291,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.000000,1400.0,A,VILA ISABEL,A
293,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.000000,2500.0,F,ANDARAÍ,A
294,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.000000,3000.0,P,CENTRO,A
295,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.000000,1200.0,A,LEBLON,A

In [313]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 1 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         247 non-null    category
 1   Nome        247 non-null    object
 2   Sexo        247 non-null    object
 3   Data_Nasc   247 non-null    datetime64[ns]
 4   Est_Civil   247 non-null    object
 5   Num_Dep     247 non-null    int64
 6   Renda       247 non-null    float64
 7   Despesa     247 non-null    float64
 8   Tp_Res      247 non-null    object
 9   Bairro_Res  247 non-null    object
 10  Result      247 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 31.4+ KB

In [314]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 1 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         247 non-null    category
 1   Nome        247 non-null    object
 2   Sexo        247 non-null    object
 3   Data_Nasc   247 non-null    datetime64[ns]
 4   Est_Civil   247 non-null    object
 5   Num_Dep     247 non-null    int64
 6   Renda       247 non-null    float64
 7   Despesa     247 non-null    float64
 8   Tp_Res      247 non-null    object
 9   Bairro_Res  247 non-null    object
 10  Result      247 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 31.4+ KB

In [315]:
df_corrigido.drop_duplicates(subset='Cpf', keep='first', inplace=True)

/tmp/ipython-input-744613941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corrigido.drop_duplicates(subset='Cpf', keep='first', inplace=True)

In [316]:
df_corrigido.describe(include='object')

           Nome Sexo Est_Civil Tp_Res Bairro_Res Result
count       186  186       186    186        186    186
unique       57    2         3      4         21      2
top     RICARDO    M         C      P     LEBLON      A
freq          7   96       102     72         22    159

In [317]:
hoje = pd.to_datetime('today')
hoje

Timestamp('2025-10-24 23:18:33.064736')

In [318]:
df_corrigido = df_corrigido[df_corrigido['Data_Nasc'] < hoje]

In [319]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, 1 to 293
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         178 non-null    category
 1   Nome        178 non-null    object
 2   Sexo        178 non-null    object
 3   Data_Nasc   178 non-null    datetime64[ns]
 4   Est_Civil   178 non-null    object
 5   Num_Dep     178 non-null    int64
 6   Renda       178 non-null    float64
 7   Despesa     178 non-null    float64
 8   Tp_Res      178 non-null    object
 9   Bairro_Res  178 non-null    object
 10  Result      178 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 25.3+ KB

In [320]:
df_corrigido.reset_index(drop=True, inplace=True)

In [321]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.0,2000.0,P,URCA,A
1,3.333333e+10,ANA,F,1981-08-15,S,4,5000.0,3000.0,P,LEBLON,A
2,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.0,1500.0,A,CENTRO,A
3,8.888889e+10,LIZA,F,1980-04-27,S,2,4500.0,3000.0,F,URCA,A
4,7.777778e+10,MARISA,F,1980-07-14,C,3,1000.0,500.0,A,RECREIO,I
...,...,...,...,...,...,...,...,...,...,...,...
173,1.834568e+10,PRISCILA,F,1983-02-14,C,3,4600.0,2700.0,A,GLÓRIA,A
174,1.845679e+10,RENATO,M,1991-11-26,C,0,1700.0,850.0,F,URCA,I
175,1.856789e+10,LARA,F,1973-09-05,V,5,7500.0,5200.0,P,MARACANÃ,A
176,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.0,1400.0,A,VILA ISABEL,A
177,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.0,2500.0,F,ANDARAÍ,A

In [322]:
df_corrigido['Idade'] = ((hoje - df_corrigido['Data_Nasc']).dt.days // 365).astype('int')

/tmp/ipython-input-2799364885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corrigido['Idade'] = ((hoje - df_corrigido['Data_Nasc']).dt.days // 365).astype('int')

In [323]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result,Idade
0,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.0,2000.0,P,URCA,A,40
1,3.333333e+10,ANA,F,1981-08-15,S,4,5000.0,3000.0,P,LEBLON,A,44
2,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.0,1500.0,A,CENTRO,A,50
3,8.888889e+10,LIZA,F,1980-04-27,S,2,4500.0,3000.0,F,URCA,A,45
4,7.777778e+10,MARISA,F,1980-07-14,C,3,1000.0,500.0,A,RECREIO,I,45
...,...,...,...,...,...,...,...,...,...,...,...,...
173,1.834568e+10,PRISCILA,F,1983-02-14,C,3,4600.0,2700.0,A,GLÓRIA,A,42
174,1.845679e+10,RENATO,M,1991-11-26,C,0,1700.0,850.0,F,URCA,I,33
175,1.856789e+10,LARA,F,1973-09-05,V,5,7500.0,5200.0,P,MARACANÃ,A,52
176,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.0,1400.0,A,VILA ISABEL,A,38
177,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.0,2500.0,F,ANDARAÍ,A,35

In [324]:
df_corrigido.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result', 'Idade'],
      dtype='object')

In [325]:
df_corrigido = df_corrigido[['Sexo', 'Est_Civil', 'Num_Dep', 'Renda','Despesa', 'Tp_Res', 'Bairro_Res', 'Result', 'Idade']]

In [326]:
df_corrigido

    Sexo Est_Civil  Num_Dep   Renda  Despesa Tp_Res   Bairro_Res Result  Idade
0      F         S        5  3000.0   2000.0      P         URCA      A     40
1      F         S        4  5000.0   3000.0      P       LEBLON      A     44
2      M         C        3  1500.0   1500.0      A       CENTRO      A     50
3      F         S        2  4500.0   3000.0      F         URCA      A     45
4      F         C        3  1000.0    500.0      A      RECREIO      I     45
..   ...       ...      ...     ...      ...    ...          ...    ...    ...
173    F         C        3  4600.0   2700.0      A       GLÓRIA      A     42
174    M         C        0  1700.0    850.0      F         URCA      I     33
175    F         V        5  7500.0   5200.0      P     MARACANÃ      A     52
176    M         C        2  3200.0   1400.0      A  VILA ISABEL      A     38
177    M         C        3  4500.0   2500.0      F      ANDARAÍ      A     35

[178 rows x 9 columns]

In [327]:
#variavel_categorica2 = list(df_corrigido.select_dtypes(include=object).columns)
df_corrigido.select_dtypes(include=object).columns

Index(['Sexo', 'Est_Civil', 'Tp_Res', 'Bairro_Res', 'Result'], dtype='object')

In [328]:
type(variavel_categorica2)

list

In [329]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.12/dist-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)

In [330]:
from category_encoders.one_hot import OneHotEncoder

In [331]:
df_corrigido['Sexo']

0      F
1      F
2      M
3      F
4      F
      ..
173    F
174    M
175    F
176    M
177    M
Name: Sexo, Length: 178, dtype: object

In [332]:
df_corrigido['Sexo'].value_counts()

Sexo
F    90
M    88
Name: count, dtype: int64

In [333]:
variaveis_categoricas = ['Sexo', 'Est_Civil', 'Tp_Res', 'Bairro_Res']
#one_hot_enc = OneHotEncoder(cols=variavel_categorica2)
one_hot_enc = OneHotEncoder(cols=variaveis_categoricas)
df_corrigido = one_hot_enc.fit_transform(df_corrigido)

In [334]:
df_corrigido

,Sexo_1,Sexo_2,Est_Civil_1,Est_Civil_2,Est_Civil_3,Num_Dep,Renda,Despesa,Tp_Res_1,Tp_Res_2,...,Bairro_Res_13,Bairro_Res_14,Bairro_Res_15,Bairro_Res_16,Bairro_Res_17,Bairro_Res_18,Bairro_Res_19,Bairro_Res_20,Result,Idade
0,1,0,1,0,0,5,3000.0,2000.0,1,0,...,0,0,0,0,0,0,0,0,A,40
1,1,0,1,0,0,4,5000.0,3000.0,1,0,...,0,0,0,0,0,0,0,0,A,44
2,0,1,0,1,0,3,1500.0,1500.0,0,1,...,0,0,0,0,0,0,0,0,A,50
3,1,0,1,0,0,2,4500.0,3000.0,0,0,...,0,0,0,0,0,0,0,0,A,45
4,1,0,0,1,0,3,1000.0,500.0,0,1,...,0,0,0,0,0,0,0,0,I,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1,0,0,1,0,3,4600.0,2700.0,0,1,...,0,1,0,0,0,0,0,0,A,42
174,0,1,0,1,0,0,1700.0,850.0,0,0,...,0,0,0,0,0,0,0,0,I,33
175,1,0,0,0,1,5,7500.0,5200.0,1,0,...,0,0,1,0,0,0,0,0,A,52
176,0,1,0,1,0,2,3200.0,1400.0,0,1,...,0,0,0,0,0,0,1,0,A,38
177,0,1,0,1,0,3,4500.0,2500.0,0,0,...,0,0,0,0,1,0,0,0,A,35

In [335]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [337]:
from sklearn.preprocessing import LabelEncoder

In [338]:
le = LabelEncoder()
df_corrigido['Result'] = le.fit_transform(df_corrigido['Result'])

In [340]:
df_corrigido['Result'].value_counts()

Result
0    152
1     26
Name: count, dtype: int64

In [341]:
df_corrigido

,Sexo_1,Sexo_2,Est_Civil_1,Est_Civil_2,Est_Civil_3,Num_Dep,Renda,Despesa,Tp_Res_1,Tp_Res_2,...,Bairro_Res_13,Bairro_Res_14,Bairro_Res_15,Bairro_Res_16,Bairro_Res_17,Bairro_Res_18,Bairro_Res_19,Bairro_Res_20,Result,Idade
0,1,0,1,0,0,5,3000.0,2000.0,1,0,...,0,0,0,0,0,0,0,0,0,40
1,1,0,1,0,0,4,5000.0,3000.0,1,0,...,0,0,0,0,0,0,0,0,0,44
2,0,1,0,1,0,3,1500.0,1500.0,0,1,...,0,0,0,0,0,0,0,0,0,50
3,1,0,1,0,0,2,4500.0,3000.0,0,0,...,0,0,0,0,0,0,0,0,0,45
4,1,0,0,1,0,3,1000.0,500.0,0,1,...,0,0,0,0,0,0,0,0,1,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1,0,0,1,0,3,4600.0,2700.0,0,1,...,0,1,0,0,0,0,0,0,0,42
174,0,1,0,1,0,0,1700.0,850.0,0,0,...,0,0,0,0,0,0,0,0,1,33
175,1,0,0,0,1,5,7500.0,5200.0,1,0,...,0,0,1,0,0,0,0,0,0,52
176,0,1,0,1,0,2,3200.0,1400.0,0,1,...,0,0,0,0,0,0,1,0,0,38
177,0,1,0,1,0,3,4500.0,2500.0,0,0,...,0,0,0,0,1,0,0,0,0,35

In [342]:
#Simula 10 pessoas recebendo algum valor de coluna renda extra
import numpy as np
n = df_corrigido.shape[0]
df_corrigido['Renda_Extra'] = 0
idx = np.random.choice(n, size=10, replace=False)
df_corrigido.loc[idx, 'Renda_Extra'] = np.random.randint(1000, 4001, size=10)

# Adiciona a coluna nova de Renda Atualizada após enriquecimento
df_corrigido['Renda_Atualizada'] = df_corrigido['Renda'] + df_corrigido['Renda_Extra']

In [346]:
df_corrigido

,Sexo_1,Sexo_2,Est_Civil_1,Est_Civil_2,Est_Civil_3,Num_Dep,Renda,Despesa,Tp_Res_1,Tp_Res_2,...,Bairro_Res_15,Bairro_Res_16,Bairro_Res_17,Bairro_Res_18,Bairro_Res_19,Bairro_Res_20,Result,Idade,Renda_Extra,Renda_Atualizada
0,1,0,1,0,0,5,3000.0,2000.0,1,0,...,0,0,0,0,0,0,0,40,0,3000.0
1,1,0,1,0,0,4,5000.0,3000.0,1,0,...,0,0,0,0,0,0,0,44,0,5000.0
2,0,1,0,1,0,3,1500.0,1500.0,0,1,...,0,0,0,0,0,0,0,50,0,1500.0
3,1,0,1,0,0,2,4500.0,3000.0,0,0,...,0,0,0,0,0,0,0,45,0,4500.0
4,1,0,0,1,0,3,1000.0,500.0,0,1,...,0,0,0,0,0,0,1,45,0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1,0,0,1,0,3,4600.0,2700.0,0,1,...,0,0,0,0,0,0,0,42,0,4600.0
174,0,1,0,1,0,0,1700.0,850.0,0,0,...,0,0,0,0,0,0,1,33,0,1700.0
175,1,0,0,0,1,5,7500.0,5200.0,1,0,...,1,0,0,0,0,0,0,52,0,7500.0
176,0,1,0,1,0,2,3200.0,1400.0,0,1,...,0,0,0,0,1,0,0,38,0,3200.0
177,0,1,0,1,0,3,4500.0,2500.0,0,0,...,0,0,1,0,0,0,0,35,0,4500.0

In [347]:
from sklearn.preprocessing import StandardScaler

In [348]:
df_corrigido.columns

Index(['Sexo_1', 'Sexo_2', 'Est_Civil_1', 'Est_Civil_2', 'Est_Civil_3',
       'Num_Dep', 'Renda', 'Despesa', 'Tp_Res_1', 'Tp_Res_2', 'Tp_Res_3',
       'Bairro_Res_1', 'Bairro_Res_2', 'Bairro_Res_3', 'Bairro_Res_4',
       'Bairro_Res_5', 'Bairro_Res_6', 'Bairro_Res_7', 'Bairro_Res_8',
       'Bairro_Res_9', 'Bairro_Res_10', 'Bairro_Res_11', 'Bairro_Res_12',
       'Bairro_Res_13', 'Bairro_Res_14', 'Bairro_Res_15', 'Bairro_Res_16',
       'Bairro_Res_17', 'Bairro_Res_18', 'Bairro_Res_19', 'Bairro_Res_20',
       'Result', 'Idade', 'Renda_Extra', 'Renda_Atualizada'],
      dtype='object')

In [349]:
normalizador = StandardScaler()

colunas_para_normalizar = ['Idade','Num_Dep','Renda','Despesa','Renda_Extra','Renda_Atualizada']

df_corrigido[colunas_para_normalizar] = normalizador.fit_transform(df_corrigido[colunas_para_normalizar])

In [350]:
df_corrigido

,Sexo_1,Sexo_2,Est_Civil_1,Est_Civil_2,Est_Civil_3,Num_Dep,Renda,Despesa,Tp_Res_1,Tp_Res_2,...,Bairro_Res_15,Bairro_Res_16,Bairro_Res_17,Bairro_Res_18,Bairro_Res_19,Bairro_Res_20,Result,Idade,Renda_Extra,Renda_Atualizada
0,1,0,1,0,0,1.401300,-0.644088,-0.285915,1,0,...,0,0,0,0,0,0,0,-0.319482,-0.226233,-0.676924
1,1,0,1,0,0,0.835696,0.534203,0.448982,1,0,...,0,0,0,0,0,0,0,0.228641,-0.226233,0.421768
2,0,1,0,1,0,0.270092,-1.527806,-0.653364,0,1,...,0,0,0,0,0,0,0,1.050827,-0.226233,-1.500943
3,1,0,1,0,0,-0.295512,0.239630,0.448982,0,0,...,0,0,0,0,0,0,0,0.365672,-0.226233,0.147095
4,1,0,0,1,0,0.270092,-1.822379,-1.388262,0,1,...,0,0,0,0,0,0,1,0.365672,-0.226233,-1.775616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1,0,0,1,0,0.270092,0.298544,0.228513,0,1,...,0,0,0,0,0,0,0,-0.045420,-0.226233,0.202030
174,0,1,0,1,0,-1.426720,-1.409977,-1.131048,0,0,...,0,0,0,0,0,0,1,-1.278699,-0.226233,-1.391074
175,1,0,0,0,1,1.401300,2.007066,2.065758,1,0,...,1,0,0,0,0,0,0,1.324889,-0.226233,1.795133
176,0,1,0,1,0,-0.295512,-0.526259,-0.726854,0,1,...,0,0,0,0,1,0,0,-0.593544,-0.226233,-0.567055
177,0,1,0,1,0,0.270092,0.239630,0.081534,0,0,...,0,0,1,0,0,0,0,-1.004637,-0.226233,0.147095