In [291]:
!pip install pandas numpy category_encoders

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: category_encoders in /usr/local/lib/python3.12/dist-packages (2.8.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)

In [292]:
#!pip freeze > requirements.txt

In [293]:
import pandas as pd

In [294]:
df_cliente1 = pd.read_csv('https://raw.githubusercontent.com/gabrielranulfo/univel_aula03_kdd/refs/heads/master/data/clientes.csv')
df_cliente2 = pd.read_csv('https://raw.githubusercontent.com/gabrielranulfo/univel_aula03_kdd/refs/heads/master/data/clientes%202.csv')

In [295]:
df_cliente1

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,07-10-85,S,5.0,3000.0,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,08-15-81,S,4.0,5000.0,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,09-10-75,C,3.0,1500.0,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,02-20-60,C,5.0,2500.0,1500.0,P,Leblon,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,NaN,1000.0,E,Barra,I
6,8.888889e+10,Liza,F,04-27-80,S,2.0,4500.0,3000.0,F,Urca,A
7,7.777778e+10,Marisa,F,07-14-80,C,3.0,1000.0,500.0,A,Recreio,I
8,6.666667e+10,Carlos,M,11-06-63,V,7.0,4300.0,4000.0,F,Leblon,A
9,4.444444e+10,Paula,F,12-15-82,C,3.0,1400.0,1000.0,A,Centro,I
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [296]:
df_cliente2

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
0,3.521488e+10,Ana,F,03-12-90,S,2.0,3500.0,1500.0,P,Barra da Tijuca,A
1,8.754124e+10,Pedro,M,07-25-85,C,1.0,2800.0,1000.0,A,Copacabana,A
2,9.632587e+10,Maria,F,11-08-78,C,4.0,5000.0,3000.0,F,Ipanema,A
3,1.234568e+10,João,M,02-19-95,S,0.0,1800.0,800.0,P,Tijuca,I
4,4.567891e+10,Carla,F,05-30-82,V,3.0,4200.0,2500.0,P,Botafogo,A
...,...,...,...,...,...,...,...,...,...,...,...
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [297]:
df_cliente1.shape

(11, 11)

In [298]:
linhas,colunas = df_cliente2.shape

In [299]:
colunas

11

In [300]:
linhas

287

In [301]:
df_cliente1.describe(include='all')

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
count,1.000000e+01,10,10,10,10,10.000000,8.000000,10.000000,10,10,10
unique,NaN,10,2,10,3,NaN,NaN,NaN,5,5,2
top,NaN,José,M,05-05-89,C,NaN,NaN,NaN,P,Centro,A
freq,NaN,1,5,1,5,NaN,NaN,NaN,3,3,7
mean,5.000000e+10,NaN,NaN,NaN,NaN,3.400000,2900.000000,1850.000000,NaN,NaN,NaN
std,3.364056e+10,NaN,NaN,NaN,NaN,1.897367,1554.716327,1131.616346,NaN,NaN,NaN
min,0.000000e+00,NaN,NaN,NaN,NaN,1.000000,1000.000000,500.000000,NaN,NaN,NaN
25%,2.500000e+10,NaN,NaN,NaN,NaN,2.250000,1475.000000,1000.000000,NaN,NaN,NaN
50%,5.000000e+10,NaN,NaN,NaN,NaN,3.000000,2750.000000,1500.000000,NaN,NaN,NaN
75%,7.500000e+10,NaN,NaN,NaN,NaN,4.750000,4350.000000,2750.000000,NaN,NaN,NaN
max,1.000000e+11,NaN,NaN,NaN,NaN,7.000000,5000.000000,4000.000000,NaN,NaN,NaN

In [302]:
df_cliente2.describe(include='all')

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
count,2.860000e+02,286,286,286,286,270.000000,286.000000,280.000000,286,286,286
unique,NaN,59,2,62,3,NaN,NaN,NaN,4,19,2
top,NaN,Gustavo,F,12-29-72,C,NaN,NaN,NaN,P,Leblon,A
freq,NaN,8,146,7,153,NaN,NaN,NaN,92,29,229
mean,4.222694e+10,NaN,NaN,NaN,NaN,2.537037,4052.797203,2329.464286,NaN,NaN,NaN
std,2.875060e+10,NaN,NaN,NaN,NaN,1.745019,1840.950138,1453.076602,NaN,NaN,NaN
min,1.001235e+10,NaN,NaN,NaN,NaN,0.000000,1500.000000,700.000000,NaN,NaN,NaN
25%,1.581429e+10,NaN,NaN,NaN,NaN,1.000000,2500.000000,1100.000000,NaN,NaN,NaN
50%,3.456789e+10,NaN,NaN,NaN,NaN,2.000000,3600.000000,1900.000000,NaN,NaN,NaN
75%,6.789012e+10,NaN,NaN,NaN,NaN,4.000000,5200.000000,3400.000000,NaN,NaN,NaN
max,9.901235e+10,NaN,NaN,NaN,NaN,6.000000,9000.000000,6000.000000,NaN,NaN,NaN

In [303]:
df_cliente1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         10 non-null     float64
 1   Nome        10 non-null     object
 2   Sexo        10 non-null     object
 3   Data_Nasc   10 non-null     object
 4   Est_Civil   10 non-null     object
 5   Num_Dep     10 non-null     float64
 6   Renda       8 non-null      float64
 7   Despesa     10 non-null     float64
 8   Tp_Res      10 non-null     object
 9   Bairro_Res  10 non-null     object
 10  Result      10 non-null     object
dtypes: float64(4), object(7)
memory usage: 1.1+ KB

In [304]:
df_cliente1.dtypes

Cpf           float64
Nome           object
Sexo           object
Data_Nasc      object
Est_Civil      object
Num_Dep       float64
Renda         float64
Despesa       float64
Tp_Res         object
Bairro_Res     object
Result         object
dtype: object

In [305]:
df_cliente2.columns

Index(['CPF', 'nome', 'S', 'nascimento', 'relacionamento', 'depent', 'salario',
       'gastos', 'residencia', 'bairo', 'resultado'],
      dtype='object')

In [306]:
df_cliente1.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [307]:
novas_colunas ={
    'CPF':'Cpf',
    'nome': 'Nome',
    'S' : 'Sexo',
    'nascimento': 'Data_Nasc',
    'relacionamento':'Est_Civil',
    'depent':'Num_Dep',
    'salario': 'Renda',
    'gastos' : 'Despesa',
    'residencia' : 'Tp_Res',
    'bairo' : 'Bairro_Res',
    'resultado': 'Result'

}

df_cliente2.rename(columns=novas_colunas, inplace=True)

In [308]:
df_corrigido = pd.concat([df_cliente1, df_cliente2])

In [309]:
df_corrigido.reset_index(drop=True, inplace=True)

In [310]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         296 non-null    float64
 1   Nome        296 non-null    object
 2   Sexo        296 non-null    object
 3   Data_Nasc   296 non-null    object
 4   Est_Civil   296 non-null    object
 5   Num_Dep     280 non-null    float64
 6   Renda       294 non-null    float64
 7   Despesa     290 non-null    float64
 8   Tp_Res      296 non-null    object
 9   Bairro_Res  296 non-null    object
 10  Result      296 non-null    object
dtypes: float64(4), object(7)
memory usage: 25.7+ KB

In [311]:
df_corrigido[df_corrigido['Num_Dep'].isnull()]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2.583691e+10,Ricardo,M,04-14-88,V,NaN,3800.0,2000.0,P,Santa Teresa,A
19,3.691473e+10,Patrícia,F,12-28-75,C,NaN,4700.0,2800.0,F,Jardim Botânico,A
20,4.712584e+10,Fernando,M,06-07-65,C,NaN,8000.0,5500.0,A,Gávea,A
21,5.823691e+10,Aline,F,10-10-80,S,NaN,2900.0,1200.0,P,Flamengo,A
22,6.934713e+10,Gustavo,M,03-03-93,C,NaN,3100.0,1300.0,X,Laranjeiras,I
23,7.045824e+10,Juliana,F,07-17-89,C,NaN,5500.0,3200.0,A,Catete,A
24,8.156935e+10,Marcos,M,08-21-77,S,NaN,1900.0,950.0,P,Glória,I
25,9.267046e+10,Mariana,F,01-11-84,S,NaN,4000.0,2100.0,F,Urca,A
26,1.011121e+10,Felipe,M,02-06-91,C,NaN,2600.0,1100.0,A,Maracanã,A
27,1.122334e+10,Camila,F,06-24-79,C,NaN,6500.0,4500.0,X,Vila Isabel,A
28,1.234568e+10,Lucas,M,11-13-86,V,NaN,3700.0,1800.0,P,Grajaú,A
29,1.345679e+10,Beatriz,F,08-09-74,S,NaN,4800.0,2900.0,A,Andaraí,A
30,1.456789e+10,Paulo,M,03-02-94,C,NaN,1500.0,700.0,P,Barra da Tijuca,I
31,1.567891e+10,Isabela,F,05-18-83,C,NaN,3900.0,2100.0,F,Copacabana,A
32,1.678912e+10,Daniel,M,10-27-76,S,NaN,2300.0,1050.0,X,Ipanema,I
33,1.789123e+10,Fernanda,F,01-01-90,V,NaN,3400.0,NaN,P,Tijuca,A
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
df_corrigido[df_corrigido['Renda'].isnull()]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,05-05-89,C,1.0,NaN,1000.0,X,Centro,A
5,0.000000e+00,Manoel,M,10-13-54,S,1.0,NaN,1000.0,E,Barra,I
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
df_corrigido['Despesa'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
293    False
294    False
295    False
296    False
297     True
Name: Despesa, Length: 298, dtype: bool

In [314]:
df_corrigido[df_corrigido['Despesa'].isnull()]

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1.789123e+10,Fernanda,F,01-01-90,V,NaN,3400.0,NaN,P,Tijuca,A
34,1.891235e+10,Rodrigo,M,09-16-87,C,4.0,5200.0,NaN,A,Botafogo,A
35,1.901235e+10,Amanda,F,12-29-72,C,5.0,7000.0,NaN,P,Leblon,A
36,2.012346e+10,Leonardo,M,04-04-68,S,6.0,9000.0,NaN,F,Santa Teresa,A
37,2.123457e+10,Sofia,F,07-15-81,S,1.0,2700.0,NaN,A,Jardim Botânico,A
38,2.234568e+10,Marcelo,M,08-23-96,C,0.0,1600.0,NaN,X,Gávea,I
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
df_corrigido.loc[33]

Cpf           17891234567.0
Nome               Fernanda
Sexo                      F
Data_Nasc          01-01-90
Est_Civil                 V
Num_Dep                 NaN
Renda                3400.0
Despesa                 NaN
Tp_Res                    P
Bairro_Res           Tijuca
Result                    A
Name: 33, dtype: object

In [316]:
df_corrigido.dropna(axis=0, how='all', inplace=True)
df_corrigido.dropna(axis=1, how='all', inplace=True)

In [317]:
df_corrigido.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [318]:
df_corrigido['Num_Dep'] = df_corrigido['Num_Dep'].fillna(0)

In [319]:
df_corrigido['Despesa'] = df_corrigido['Despesa'].fillna(df_corrigido['Despesa'].mean())
df_corrigido['Renda'] = df_corrigido['Renda'].fillna(df_corrigido['Renda'].mean())

In [320]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296 entries, 0 to 296
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         296 non-null    float64
 1   Nome        296 non-null    object
 2   Sexo        296 non-null    object
 3   Data_Nasc   296 non-null    object
 4   Est_Civil   296 non-null    object
 5   Num_Dep     296 non-null    float64
 6   Renda       296 non-null    float64
 7   Despesa     296 non-null    float64
 8   Tp_Res      296 non-null    object
 9   Bairro_Res  296 non-null    object
 10  Result      296 non-null    object
dtypes: float64(4), object(7)
memory usage: 27.8+ KB

In [321]:
df_corrigido.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [322]:
variaveis_categoricas = ['Cpf','Nome','Sexo', 'Est_Civil', 'Tp_Res', 'Bairro_Res','Result']
variaveis_continuas = ['Renda','Despesa']
variaveis_discretas = ['Num_Dep']

df_corrigido[variaveis_categoricas] = df_corrigido[variaveis_categoricas].astype('category')
df_corrigido[variaveis_discretas] = df_corrigido[variaveis_discretas].astype('int64')
df_corrigido[variaveis_continuas] = df_corrigido[variaveis_continuas].astype('float64')
df_corrigido['Data_Nasc'] = pd.to_datetime(df_corrigido['Data_Nasc'], format='%m-%d-%y')

In [323]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,José,M,1989-05-05,C,1,4021.428571,1000.0,X,Centro,A
1,1.111111e+10,Maria,F,1985-07-10,S,5,3000.000000,2000.0,P,Urca,A
2,3.333333e+10,Ana,F,1981-08-15,S,4,5000.000000,3000.0,P,Leblon,A
3,5.555556e+10,Pedro,M,1975-09-10,C,3,1500.000000,1500.0,A,Centro,A
4,2.222222e+10,Mario,M,2060-02-20,C,5,2500.000000,1500.0,P,Leblon,A
...,...,...,...,...,...,...,...,...,...,...,...
292,1.867890e+10,Bruno,M,1986-12-10,C,2,3200.000000,1400.0,A,Vila Isabel,A
293,1.878901e+10,Laura,F,1980-04-17,S,1,2000.000000,900.0,X,Grajaú,I
294,1.889012e+10,Gustavo,M,1990-08-21,C,3,4500.000000,2500.0,F,Andaraí,A
295,1.890123e+10,Fernanda,F,1975-06-03,V,4,5000.000000,3000.0,P,Centro,A
296,1.901235e+10,Thiago,M,1988-01-18,C,1,2800.000000,1200.0,A,Leblon,A

In [324]:
df_corrigido.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [325]:
colunas_para_maiusculo = ['Nome','Sexo', 'Est_Civil', 'Tp_Res', 'Bairro_Res','Result']

In [326]:
df_corrigido.reset_index(drop=True, inplace=True)

In [327]:
df_corrigido[colunas_para_maiusculo] = df_corrigido[colunas_para_maiusculo].apply(lambda x: x.str.upper())

In [328]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.000000e+11,JOSÉ,M,1989-05-05,C,1,4021.428571,1000.0,X,CENTRO,A
1,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.000000,2000.0,P,URCA,A
2,3.333333e+10,ANA,F,1981-08-15,S,4,5000.000000,3000.0,P,LEBLON,A
3,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.000000,1500.0,A,CENTRO,A
4,2.222222e+10,MARIO,M,2060-02-20,C,5,2500.000000,1500.0,P,LEBLON,A
...,...,...,...,...,...,...,...,...,...,...,...
291,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.000000,1400.0,A,VILA ISABEL,A
292,1.878901e+10,LAURA,F,1980-04-17,S,1,2000.000000,900.0,X,GRAJAÚ,I
293,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.000000,2500.0,F,ANDARAÍ,A
294,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.000000,3000.0,P,CENTRO,A
295,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.000000,1200.0,A,LEBLON,A

In [330]:
df_corrigido['Sexo'].value_counts()

Sexo
F    151
M    145
Name: count, dtype: int64

In [331]:
df_corrigido['Tp_Res'].value_counts()

Tp_Res
P    95
A    93
F    58
X    49
E     1
Name: count, dtype: int64

In [332]:
valores_validos = ['P','A','E','F','O']

df_corrigido['Tp_Res'].isin(valores_validos)

0      False
1       True
2       True
3       True
4       True
       ...
291     True
292    False
293     True
294     True
295     True
Name: Tp_Res, Length: 296, dtype: bool

In [334]:
df_corrigido = df_corrigido[df_corrigido['Tp_Res'].isin(valores_validos)]

In [335]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
1,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.000000,2000.0,P,URCA,A
2,3.333333e+10,ANA,F,1981-08-15,S,4,5000.000000,3000.0,P,LEBLON,A
3,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.000000,1500.0,A,CENTRO,A
4,2.222222e+10,MARIO,M,2060-02-20,C,5,2500.000000,1500.0,P,LEBLON,A
5,0.000000e+00,MANOEL,M,2054-10-13,S,1,4021.428571,1000.0,E,BARRA,I
...,...,...,...,...,...,...,...,...,...,...,...
290,1.856789e+10,LARA,F,1973-09-05,V,5,7500.000000,5200.0,P,MARACANÃ,A
291,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.000000,1400.0,A,VILA ISABEL,A
293,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.000000,2500.0,F,ANDARAÍ,A
294,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.000000,3000.0,P,CENTRO,A
295,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.000000,1200.0,A,LEBLON,A

In [336]:
df_corrigido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 1 to 295
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cpf         247 non-null    category
 1   Nome        247 non-null    object
 2   Sexo        247 non-null    object
 3   Data_Nasc   247 non-null    datetime64[ns]
 4   Est_Civil   247 non-null    object
 5   Num_Dep     247 non-null    int64
 6   Renda       247 non-null    float64
 7   Despesa     247 non-null    float64
 8   Tp_Res      247 non-null    object
 9   Bairro_Res  247 non-null    object
 10  Result      247 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 31.4+ KB

In [337]:
df_corrigido.reset_index(drop=True, inplace=True)

In [338]:
hoje = pd.to_datetime('today')

In [341]:
df_corrigido['Data_Nasc'] <= hoje

0       True
1       True
2       True
3      False
4      False
       ...
242     True
243     True
244     True
245     True
246     True
Name: Data_Nasc, Length: 247, dtype: bool

In [342]:
df_corrigido = df_corrigido[df_corrigido['Data_Nasc'] <= hoje]

In [343]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result
0,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.0,2000.0,P,URCA,A
1,3.333333e+10,ANA,F,1981-08-15,S,4,5000.0,3000.0,P,LEBLON,A
2,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.0,1500.0,A,CENTRO,A
5,8.888889e+10,LIZA,F,1980-04-27,S,2,4500.0,3000.0,F,URCA,A
6,7.777778e+10,MARISA,F,1980-07-14,C,3,1000.0,500.0,A,RECREIO,I
...,...,...,...,...,...,...,...,...,...,...,...
242,1.856789e+10,LARA,F,1973-09-05,V,5,7500.0,5200.0,P,MARACANÃ,A
243,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.0,1400.0,A,VILA ISABEL,A
244,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.0,2500.0,F,ANDARAÍ,A
245,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.0,3000.0,P,CENTRO,A
246,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.0,1200.0,A,LEBLON,A

In [344]:
df_corrigido['Idade'] = ((hoje - df_corrigido['Data_Nasc']).dt.days // 365)

/tmp/ipython-input-3225462503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corrigido['Idade'] = ((hoje - df_corrigido['Data_Nasc']).dt.days // 365)

In [350]:
df_corrigido

,Cpf,Nome,Sexo,Data_Nasc,Est_Civil,Num_Dep,Renda,Despesa,Tp_Res,Bairro_Res,Result,Idade
0,1.111111e+10,MARIA,F,1985-07-10,S,5,3000.0,2000.0,P,URCA,A,40
1,3.333333e+10,ANA,F,1981-08-15,S,4,5000.0,3000.0,P,LEBLON,A,44
2,5.555556e+10,PEDRO,M,1975-09-10,C,3,1500.0,1500.0,A,CENTRO,A,50
3,8.888889e+10,LIZA,F,1980-04-27,S,2,4500.0,3000.0,F,URCA,A,45
4,7.777778e+10,MARISA,F,1980-07-14,C,3,1000.0,500.0,A,RECREIO,I,45
...,...,...,...,...,...,...,...,...,...,...,...,...
231,1.856789e+10,LARA,F,1973-09-05,V,5,7500.0,5200.0,P,MARACANÃ,A,52
232,1.867890e+10,BRUNO,M,1986-12-10,C,2,3200.0,1400.0,A,VILA ISABEL,A,38
233,1.889012e+10,GUSTAVO,M,1990-08-21,C,3,4500.0,2500.0,F,ANDARAÍ,A,35
234,1.890123e+10,FERNANDA,F,1975-06-03,V,4,5000.0,3000.0,P,CENTRO,A,50
235,1.901235e+10,THIAGO,M,1988-01-18,C,1,2800.0,1200.0,A,LEBLON,A,37

In [349]:
df_corrigido['Idade']

0      40
1      44
2      50
3      45
4      45
       ..
231    52
232    38
233    35
234    50
235    37
Name: Idade, Length: 236, dtype: int64

In [348]:
df_corrigido.reset_index(drop=True, inplace=True)

In [347]:
df_cliente1.columns

Index(['Cpf', 'Nome', 'Sexo', 'Data_Nasc', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result'],
      dtype='object')

In [351]:
colunas_selecionadas = ['Sexo', 'Est_Civil', 'Num_Dep', 'Renda',
       'Despesa', 'Tp_Res', 'Bairro_Res', 'Result', 'Idade']

df_corrigido =  df_corrigido[colunas_selecionadas]

In [352]:
df_corrigido

    Sexo Est_Civil  Num_Dep   Renda  Despesa Tp_Res   Bairro_Res Result  Idade
0      F         S        5  3000.0   2000.0      P         URCA      A     40
1      F         S        4  5000.0   3000.0      P       LEBLON      A     44
2      M         C        3  1500.0   1500.0      A       CENTRO      A     50
3      F         S        2  4500.0   3000.0      F         URCA      A     45
4      F         C        3  1000.0    500.0      A      RECREIO      I     45
..   ...       ...      ...     ...      ...    ...          ...    ...    ...
231    F         V        5  7500.0   5200.0      P     MARACANÃ      A     52
232    M         C        2  3200.0   1400.0      A  VILA ISABEL      A     38
233    M         C        3  4500.0   2500.0      F      ANDARAÍ      A     35
234    F         V        4  5000.0   3000.0      P       CENTRO      A     50
235    M         C        1  2800.0   1200.0      A       LEBLON      A     37

[236 rows x 9 columns]